@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
:root,
a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	/* TODO Solve this in HTML */
}

a,
button,
input,
select {
	pointer-events: auto;
}
h2 {
	font-size: 36px; /* Aumenta el tamaño de la letra a 36px */
	font-weight: bold; /* Hace que la letra sea más gruesa */
	text-align: center; /* Centra el texto */
	color: #dcc5c5; /* Cambia el color del texto */
  }
  
h3 {
	background: rgba(21, 35, 45, 0.7);
	/* Color azul claro con opacidad */
	background: linear-gradient(135deg, rgba(47, 110, 148, 0.7), rgba(255, 255, 255, 0.5));
	/* Gradiente */
	border-radius: 10px;
	/* Esquinas redondeadas */
	padding: 2px;
	/* Espaciado interno */
	color: #333;
	/* Color del texto */
	text-align: center;
	/* Centrar el texto */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	/* Sombra para profundidad */
	font-size: 15px;
	/* Tamaño de letra más pequeño */
	line-height: 1.2;
	/* Espaciado entre líneas reducido */
	margin: 10px 0;
	/* Margen superior e inferior */
}

.lil-gui {
	z-index: 11 !important;
	/* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
	.lil-gui.root {
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#poster {
	border: 5px solid green;
	/* Grosor y color del borde */
	border-radius: 15px;
	/* Esquinas redondeadas */
	padding: 20px;
	/* Espaciado interno */
	height: 500px;
	width: 300px;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	/* Sombra para darle profundidad */
	background:
		url(https://spaceplace.nasa.gov/review/all-about-earth/earth3.sp.png) no-repeat center;
	background-size: cover;
	position: absolute;
	/* Para moverlo fuera de la pantalla */
	left: 6px;
	bottom: 0px;
	display: block;
	transform: translateX(0);
	transition: transform 0.8s ease;
	/* Transición suave */
}

#poster.hide {
	transform: translateX(-120%);
	/* Mover el poster fuera de la pantalla */
}

#poster:hover {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
	z-index: 2;
}

.data_poster {
    position: absolute;
    right: 10px;
    top: 600px; /* Ajusta según tu diseño */
    width: 30%;
    max-height: 400px; /* Limita la altura máxima */
    overflow-y: scroll; /* Activa el scroll vertical */
    background-color: rgba(128, 128, 128, 0.5); /* Fondo gris translúcido */
    color: green; /* Texto en verde */
    z-index: 9999; /* Asegura que la tabla esté por encima de todo */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

#asteroidTable {
    width: 100%;
    border-collapse: collapse;
}

#asteroidTable th, #asteroidTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#asteroidTable th {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo gris oscuro para encabezados */
    color: white;
}

#asteroidTable td a {
    color: green; /* Enlaces en verde */
    text-decoration: none;
}

#scrollTableContainer::-webkit-scrollbar {
    width: 10px;
}

#scrollTableContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

#scrollTableContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


.label {
	/* color: green; */
	font-size: 10px;
	font-weight: bold;
	background-color: transparent;
	position: absolute;
	z-index: -1 !important; /* Asegura que esté visible en la escena */
  }
  
#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

canvas {
	position: absolute;
	/* Posicionar el lienzo de manera absoluta */
	top: 0;
	left: 0;
	width: 100%;
	/* Ocupar todo el ancho */
	height: 100%;
	/* Ocupar toda la altura */
	z-index: -1;
	/* Asegúrate de que esté detrás de otros elementos */
}

body {
	font-family: Monospace;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
}
html {
	margin: 0;
	height: 100%;
}

.navbar {
    background-color: #333;
    text-align: left;
    font-size: 15px;
    line-height: 55px;
    position: relative;
    padding: 2px;
    z-index: 10;
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    border-bottom-left-radius: 25px;  /* Redondeo solo en la esquina inferior izquierda */
    border-bottom-right-radius: 25px; /* Redondeo solo en la esquina inferior derecha */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}
.espacio{

	position: relative;
	padding-left: 350px;
	padding-top: 100px;
}


.container {
	position: relative;
	/* Para contener los elementos */
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.side-menu {
	width: 200px;
	position: relative;
	z-index: 1;
	/* Asegura que los menús estén por encima del canvas */
}

button {
	position: relative;
	margin: 10px auto 0;
	height: 100%;
	background: linear-gradient(0deg, #000, #272727);
	width: 100%;
	padding: 10px;
	color: white;
	border: none;
	cursor: pointer;
}

button:before,
button:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
			#0000ff, #00ff00, #ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

button:after {
	filter: blur(50px);
}

#show{
margin-top: 75px;
margin-left: 10px;
}

.dropdown {
	display: none;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	position: absolute;
	z-index: 11 !important;
	width: 100%;
}

.dropdown a {
	padding: 10px;
	text-decoration: none;
	display: block;
	color: black;
	z-index: 11 !important;
	/* Asegura que el menú esté encima */

}

.dropdown a:hover {
	background-color: #ddd;
}

.main-area {
	flex-grow: 1;
	text-align: center;
}

img {
	max-width: 100%;
	height: 100px;
}

.circular-image {
	width: 100px;
	/* Ajusta el tamaño según sea necesario */
	height: 100px;
	/* Mantén la altura igual para un círculo perfecto */
	border-radius: 50%;
	/* Hace la imagen circular */
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	/* Contorno difuminado */
	object-fit: cover;
	/* Asegura que la imagen se recorte adecuadamente */
	z-index: 10;
}

.contenedor {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	align-items: start;
	justify-content: flex-end;
	z-index: 10;
}

.contenedor button {
	width: 40px;
	height: 40px;
	margin: 5px;
	border-bottom: #444;
	border-radius: 30%;
	outline: none;
	cursor: pointer;
}

.contenedor button:hover {
	background-color: #2980b9;
}

.contenedor button:active {
	background-color: #1c5980;
}

/* https://plantillashtmlgratis.com/categoria/efectos-css/texto-animado-css/#google_vignette */
h1 {
	background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 3vw;
	font-family: "Source Sans Pro", sans-serif;
	-webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
			animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  }
  @-webkit-keyframes reveal {
	80% {
	  letter-spacing: 8px;
	}
	100% {
	  background-size: 200% 200%;
	}
  }
  @keyframes reveal {
	80% {
	  letter-spacing: 8px;
	}
	100% {
	  background-size: 200% 200%;
	}
  }
  @-webkit-keyframes glow {
	40% {
	  text-shadow: 0 0 8px #fff;
	}
  }
  @keyframes glow {
	40% {
	  text-shadow: 0 0 8px #fff;
	}
  }